.table-view{
    -fx-background-color: #FFFFFF;
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

.table-row-cell {
    -fx-cell-size: 32px;
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

/*color de una fila cuando en raton se encuentra sobre la misma*/
.table-view:row-selection .table-row-cell:filled:hover{
    /*-fx-background-color: #ECEFF1FF;*/
    -fx-background-color: #ECEFF1; 
    -fx-font-weight: bold;
    /*-fx-text-background-color: red;*/
    
}

/* color de una fila cuando en raton se encuentra sobre una fila que esta seleccionada*/
.table-view:row-selection .table-row-cell:filled:selected:hover { 
    -fx-background-color: #ECEFF1; 
    -fx-font-weight: bold;
}

/*color de una fila seleccionada por el usuario*/
.table-view:row-selection .table-row-cell:filled:selected { 
    -fx-background-color: #ECEFF1;
    -fx-text-background-color: #263238;
    -fx-font-weight: bold;
}

.table-row-cell:odd{
    -fx-background-color: #FFFFFF;
    -fx-font-weight: normal;
    -fx-text-background-color: #263238;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;*/
}
.table-row-cell:even{
    -fx-background-color: #ffffff;
    -fx-font-weight: normal;
    -fx-text-background-color: #263238;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;*/
}

.text-field, .text-area {
	-fx-border-color: #cccccc;
	-fx-background-color: white;
	-fx-border-radius: 4;
	-fx-background-radius: 4;
	-fx-effect: innershadow(gaussian, transparent, 0, 0, 0, 0);
}

.text-field:focused, .text-area:focused {
	-fx-border-color: #66afe9;
	-fx-effect: dropshadow(gaussian, #66afe9, 10, 0, 0, 0);
}

.scroll-pane > .viewport {
   -fx-background-color: #ffffff;
}


.progress-bar
{
    -fx-accent: #00E676;
}

/*
.scroll-pane-actions {
    -fx-border-width: 2;
    -fx-border-color:  #FFCC80;
    -fx-border-radius: 8;  
    -fx-background-insets: 0;
}

.scroll-pane-actions > .corner {
    -fx-background-color: #ffffff;
}

.scroll-pane-actions > .viewport {
   -fx-background-color: #FFFFFF;
   -fx-padding: 0;
   
}
*/

.scroll-pane-actions 
{
    -fx-background-insets: 0;
}

.scroll-pane-actions > .corner 
{
    -fx-background-color: #ffffff;
}

.scroll-pane-actions > .viewport 
{
   -fx-background-color: #FFFFFF;
   -fx-padding: 0;
   
}

.tooltip{
    -fx-font-size: 13px; 
    -fx-font-family:'Tahoma';
    -fx-background-color: rgba(255, 245, 157, 1.0);
    -fx-text-fill: #000000;
    /*-fx-border-style: 'solid';*/
    -fx-border-color: #FFB74D;
}


.btn_gui_sections
{
    -fx-background-color: transparent;
}

.btn_gui_sections:hover
{
    -fx-background-color: #E0E0E0;
}

.btn_gui_sections:pressed
{
    -fx-background-color: #EEEEEE;
}


.btn_close_pane
{
    -fx-background-color: transparent;
    -fx-text-fill: #212121;
}

.btn_close_pane:hover
{
    -fx-background-color: #E64A19;
    -fx-text-fill: white;
}

.btn_close_pane:pressed
{
    -fx-background-color: #FF7043;
    -fx-text-fill: white;
}

/*
.vbox_actions:focused
{
    -fx-border-width:2.0;
    -fx-border-color: #000000;
}

.vbox_actions:hover
{
    -fx-border-width:2.0;
    -fx-border-color: #000000;
}
*/